.App {
  text-align: center;
}

.frame{
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
}

.container{
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10em 0;
  height: 220px;
  
}

.card{
  border-radius: 2em;
  padding: 0 2em;
  background-color: #d98383;
}